# ref: https://mise.jdx.dev/configuration.html#global-config-config-mise-config-toml
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
node = "latest"
bun = "latest"
yarn = "latest"
pnpm = "latest"
java = "latest"
gradle = "latest"
maven = "latest"
rust = "latest"
python = "latest"
go = "latest"
# cspell:ignore binstall
cargo-binstall = "latest"
# latest cannot be resolved
# renovate: extractVersion=^cli/v(?<version>.+)
"ubi:biomejs/biome" = "cli/v1.9.3"

[settings]
experimental = true
