# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2025.11.11"

[vars]
PS_SCRIPT_ANALYZER_VERSION = "1.24.0"

[tools]
bun = "1.3.3"
node = "24.11.1"
biome = "2.2.7"
actionlint = "1.7.9"
ghalint = "1.5.3"
pinact = "3.4.5"
zizmor = "1.11.0"
taplo = "0.10.0"
prettier = "3.7.3"
markdownlint-cli2 = "0.19.1"
shfmt = "3.12.0"
shellcheck = "0.11.0"
yamlfmt = "0.20.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.9.13"
yamllint = "1.37.1"
cspell = "9.3.2"
# cspell:ignore lycheeverse
lychee = "0.21.0"
typos = "1.40.0"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.25"
jc = "1.25.6"
hadolint = "2.14.0"
# pwsh is not executable so postinstall is required
# ref: https://github.com/PowerShell/PowerShell/issues/23968
# ref: https://github.com/jdx/mise/discussions/4189
powershell = { version = "7.5.4", postinstall = """
chmod +x $(find $(mise where powershell) -name pwsh)
""" }

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks", "worker/tasks.toml", "worker/tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni ::: install:ps-script-analyzer
{% endif %}
"""
