# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2025.3.7"

[tools]
bun = "1.2.6"
node = "23.10.0"
biome = "1.9.4"
actionlint = "1.7.7"
"aqua:suzuki-shunsuke/ghalint" = "1.2.4" # cspell:ignore shunsuke
"aqua:suzuki-shunsuke/pinact" = "2.2.0"
# required for cargo backend
# cspell:ignore binstall
cargo-binstall = "1.12.2"
"cargo:zizmor" = "1.5.2"
taplo = "0.9.3"
"npm:prettier" = "3.5.3"
markdownlint-cli2 = "0.17.2"
shfmt = "3.11.0"
shellcheck = "0.10.0"
yamlfmt = "0.16.0"
# required for pipx backend
uv = "0.6.9"
yamllint = "1.37.0"
"npm:cspell" = "8.17.5"
# cspell:ignore lycheeverse
lychee = "0.18.1"
typos = "1.30.3"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.12"

[settings]
experimental = true

[settings.npm]
bun = true

# cspell:ignore pipx
[settings.pipx]
uvx = true

[task_config]
includes = ["tasks.toml", "tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni
{% endif %}
"""
