# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2025.6.2"

[vars]
PS_SCRIPT_ANALYZER_VERSION = "1.24.0"

[tools]
bun = "1.2.16"
node = "24.2.0"
biome = "1.9.4"
actionlint = "1.7.7"
ghalint = "1.4.1"
pinact = "3.1.2"
# required for cargo backend
# cspell:ignore binstall
cargo-binstall = "1.13.0"
"cargo:zizmor" = "=1.9.0"
taplo = "0.10.0"
"npm:prettier" = "3.5.3"
markdownlint-cli2 = "0.18.1"
shfmt = "3.11.0"
shellcheck = "0.10.0"
yamlfmt = "0.17.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.7.13"
yamllint = "1.37.1"
"npm:cspell" = "9.0.2"
# cspell:ignore lycheeverse
lychee = "0.19.0"
typos = "1.33.1"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.16"
jc = "1.25.5"
hadolint = "2.12.0"
# pwsh is not executable so postinstall is required
# ref: https://github.com/PowerShell/PowerShell/issues/23968
# ref: https://github.com/jdx/mise/discussions/4189
"aqua:PowerShell/PowerShell" = { version = "7.5.1", postinstall = """
chmod +x $(find $(mise where aqua:PowerShell/PowerShell) -name pwsh)
""" }

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks", "worker/tasks.toml", "worker/tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni ::: install:ps-script-analyzer
{% endif %}
"""
