# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2025.12.13"

[vars]
PS_SCRIPT_ANALYZER_VERSION = "1.24.0"

[tools]
bun = "1.3.5"
node = "24.11.1"
biome = "2.2.7"
actionlint = "1.7.10"
ghalint = "1.5.4"
pinact = "3.8.0"
zizmor = "1.11.0"
taplo = "0.10.0"
prettier = "3.7.4"
markdownlint-cli2 = "0.20.0"
shfmt = "3.12.0"
shellcheck = "0.11.0"
yamlfmt = "0.20.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.9.21"
yamllint = "1.37.1"
cspell = "9.4.0"
# cspell:ignore lycheeverse
lychee = "0.22.0"
typos = "1.41.0"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.26"
jc = "1.25.6"
hadolint = "2.14.0"
powershell = "7.5.4"

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks", "worker/tasks.toml", "worker/tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run install:ps-script-analyzer
{% endif %}
"""

[prepare.bun]
auto = true
run = "bun install --frozen-lockfile"

[prepare.bun_worker]
auto = true
dir = "worker"
sources = ["worker/bun.lock", "worker/package.json"]
outputs = ["worker/node_modules"]
run = "bun install --frozen-lockfile"
