# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2025.6.0"

[tools]
bun = "1.2.15"
node = "24.1.0"
biome = "1.9.4"
actionlint = "1.7.7"
ghalint = "1.4.1"
pinact = "3.1.2"
# required for cargo backend
# cspell:ignore binstall
cargo-binstall = "1.12.6"
"cargo:zizmor" = "=1.9.0"
taplo = "0.10.0"
"npm:prettier" = "3.5.3"
markdownlint-cli2 = "0.18.1"
shfmt = "3.11.0"
shellcheck = "0.10.0"
yamlfmt = "0.17.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.7.9"
yamllint = "1.37.1"
"npm:cspell" = "9.0.2"
# cspell:ignore lycheeverse
lychee = "0.18.1"
typos = "1.33.0"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.15"
jc = "1.25.5"
hadolint = "2.12.0"

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks", "worker/tasks.toml", "worker/tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni
{% endif %}
"""
