# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2025.12.13"

[vars]
PS_SCRIPT_ANALYZER_VERSION = "1.24.0"

[tools]
bun = "1.3.10"
node = "25.7.0"
biome = "2.2.7"
actionlint = "1.7.11"
ghalint = "1.5.5"
pinact = "3.9.0"
zizmor = "1.11.0"
taplo = "0.10.0"
prettier = "3.8.1"
markdownlint-cli2 = "0.21.0"
shfmt = "3.12.0"
shellcheck = "0.11.0"
yamlfmt = "0.21.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.10.6"
yamllint = "1.38.0"
cspell = "9.6.4"
# cspell:ignore lycheeverse
lychee = "0.23.0"
typos = "1.43.5"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.27"
jc = "1.25.6"
hadolint = "2.14.0"
powershell = "7.5.4"

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks", "worker/tasks.toml", "worker/tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni ::: install:ps-script-analyzer
{% endif %}
"""
