[init]
	defaultBranch = main

[fetch]
	prune = true

[commit]
	gpgSign = true
[tag]
	gpgSign = true

[credential "https://github.com"]
	# set helper to empty to avoid using the default helper
	# ref: https://github.com/cli/cli/issues/3796#issuecomment-1065150465
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[include]
	path = ~/.gitconfig.local
