# ref: https://mise.jdx.dev/configuration.html#global-config-config-mise-config-toml
#:schema https://mise.jdx.dev/schema/mise.json

min_version = "2024.12.8"

[env]
# disable bat paging
BAT_PAGING = "never"
# gpg requires tty
GPG_TTY={value="{{ exec(command='tty') }}", tools=true}
# set GITHUB_TOKEN to avoid rate limit while using mise
GITHUB_TOKEN={value="{{ exec(command='gh auth token') }}", tools=true}

[tools]
# language tools
node = "latest"
bun = "latest"
yarn = "latest"
pnpm = "latest"
java = "latest"
gradle = "latest"
rust = "latest"
python = "latest"
go = "latest"

# mise requirements
# cspell:ignore binstall
cargo-binstall = "latest"
uv = "latest"
# for completion
usage = "latest"
# for aqua backend verification
cosign = "latest"
# cspell:ignore slsa
slsa-verifier = "latest"

# cli tools
jq = "latest"
github-cli = "latest"
ghq = "latest"
# cspell:ignore kellyjonbrazil
"aqua:kellyjonbrazil/jc" = "latest"
delta = "latest"
ripgrep = "14.1.1"
"cargo:eza" = "0.20.10"
bat = "0.24.0"
fd = "10.2.0"
fzf = "0.56.3"
xh = "0.23.0"

# biome vs code extension requires global installation
"aqua:biomejs/biome" = "latest"

[settings]
pin = true
experimental = true

[settings.npm]
bun = true

# cspell:ignore pipx
[settings.pipx]
uvx = true

[settings.python]
# disable python-build
compile = false
