# ref: https://mise.jdx.dev/configuration.html#global-config-config-mise-config-toml
#:schema https://mise.jdx.dev/schema/mise.json

[env]
# disable bat paging
BAT_PAGING = "never"

[tools]
# language tools
node = "latest"
bun = "latest"
yarn = "latest"
pnpm = "latest"
java = "latest"
gradle = "latest"
rust = "latest"
python = "latest"
go = "latest"

# mise requirements
# cspell:ignore binstall
cargo-binstall = "latest"
uv = "latest"
# for completion
usage = "latest"
# cspell:ignore watchexec
watchexec = "latest"

# cli tools
jq = "latest"
yq = "latest"
github-cli = "latest"
# cspell:ignore siketyan
"aqua:siketyan/ghr" = "latest"
jc = "latest"
delta = "latest"
ripgrep = "latest"
eza = "latest"
bat = "latest"
fd = "latest"
xh = "latest"
jd = "latest"
sd = "latest"
gemini-cli = "latest"

# linter/formatter tools
biome = "latest"
actionlint = "latest"
ghalint = "latest"
pinact = "latest"
zizmor = "latest"
taplo = "latest"
prettier = "latest"
shfmt = "latest"
shellcheck = "latest"
yamlfmt = "latest"
yamllint = "latest"
cspell = "latest"
lychee = "latest"
typos = "latest"
hadolint = "latest"

# uni tools
numbat = "latest"

# mise development
aqua = "latest"
# cspell:ignore vfox
vfox = "latest"

[settings]
pin = true
experimental = true

[settings.npm]
bun = true

[settings.python]
# disable python-build
compile = false

[shell_alias]
l = "eza --all --long --git"
