name: PR Updater

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  update-prs:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read # for checkout

    steps:
      - name: Create GitHub App token
        id: app-token
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1.11.0
        with:
          app-id: ${{ vars.PR_UPDATER_APP_ID }}
          private-key: ${{ secrets.PR_UPDATER_SECRET_KEY }}

      - name: List PRs
        id: list-prs
        if: github.event_name == 'schedule'
        run: |
          numbers=$(gh api \
            --header 'Accept: application/vnd.github+json' \
            --header 'X-GitHub-Api-Version: 2022-11-28' \
            --paginate \
            --jq '.[].number' \
            /repos/risu729/dotfiles/pulls)
          echo "numbers=${numbers}" > "${GITHUB_OUTPUT}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get PR number
        id: pr-number
        if: github.event_name == 'workflow_dispatch'
        run: |
          number=$(gh pr list --head ${{ github.ref_name }} --json number --jq '.[0].number')
          echo "number=${number}" > "${GITHUB_OUTPUT}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update PRs
        run: |
          echo "${{ steps.list-prs.outputs.numbers || steps.pr-number.outputs.number }}" \
            | xargs --max-args=1 --replace={} \
              gh api \
                --header 'Accept: application/vnd.github+json' \
                --header 'X-GitHub-Api-Version: 2022-11-28' \
                --method PATCH \
                /repos/${{ github.repository }}/pulls/{}
        env:
          # use GitHub App token to run actions on updated PR
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
