name: Test installer on Linux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test-linux:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read # for checkout

    container:
      image: ghcr.io/risu729/dotfiles/wsl:24.04.20250523@sha256:2a2c1b2df967f50477e4f5556b181ee86e288dfb95d0e9da1dee44fe418b0b6b

    services:
      worker:
        image: ghcr.io/risu729/dotfiles/worker:1.202559.4@sha256:200a161d17116d19d46dddfb35306bb342ff239d36a9314fb13c83bdc415331e
        # vite preview server runs on port 4173 by default
        # ref: https://vite.dev/config/preview-options#preview-port
        options: >-
          --health-cmd "curl --fail http://localhost:4173"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          GIT_REPO_URL: ${{ github.event.repository.clone_url }}
          # use head sha for pull requests because github.sha is set to the merge commit
          GIT_COMMIT_SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

    steps:
      - name: Run installer
        # don't use process substitution to avoid masking the errors
        run: |
          curl -fsSL "http://worker:4173/wsl?ref=${SHA}" | bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
          __CI: true
          # use head sha for pull requests because github.sha is set to the merge commit
          SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

  actions-timeline:
    needs:
      - test-linux
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@427ee2cf860166e404d0d69b4f2b24012bb7af4f # v2.2.3
