name: Test Installer on Linux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test-linux:
    name: Test Installer Scripts on WSL Ubuntu Image
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read # for checkout

    container:
      image: ghcr.io/risu729/dotfiles/wsl:24.04.20250925@sha256:ca1f6746d2be792bc02da75c3ab8da38dd642f2a13eef3b475570b4466d14148

    services:
      worker:
        image: ghcr.io/risu729/dotfiles/worker:1.20250919.0@sha256:6d445d05a0819239df9b167ff1707e0c09ac2e264d8f50aa888d32cdc4eefd2a
        # vite preview server runs on port 4173 by default
        # ref: https://vite.dev/config/preview-options#preview-port
        options: >-
          --health-cmd "curl --fail http://localhost:4173"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          GIT_REPO_URL: ${{ github.event.repository.clone_url }}
          # use head sha for pull requests because github.sha is set to the merge commit
          GIT_COMMIT_SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

    steps:
      - name: Run installer
        # don't use process substitution to avoid masking the errors
        run: |
          curl -fsSL "http://worker:4173/wsl?ref=${SHA}" | bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
          __CI: true
          # use head sha for pull requests because github.sha is set to the merge commit
          SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
          MISE_LOG_LEVEL: ${{ runner.debug == '1' && 'debug' || 'info' }}

  actions-timeline:
    name: Generate Actions Timeline
    needs:
      - test-linux
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@a7eaabf426cdae26c3582c3fa674b897170dec8f # v2.2.4
