name: Test installer on Linux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test-linux:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read # for checkout

    container:
      image: ghcr.io/risu729/dotfiles/wsl:24.04.20241127@sha256:c94d92beae32017037fbaff58dd6e4bbca78298b31878a08042b44340ebe29d7

    steps:
      - name: Run installer
        # use head sha for pull requests because github.sha is set to the merge commit
        # don't use process substitution to avoid masking the errors
        run: |
          curl -fsSL https://dot.risunosu.com/wsl?ref=${{
            github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha
          }} | bash
        env:
          MISE_LOG_LEVEL: trace

  actions-timeline:
    needs:
      - test-linux
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@3046833d9aacfd7745c5264b7f3af851c3e2a619 # v2.2.1
