name: Test installer on Linux

on:
  # do not use paths filter because it does not work well with required status checks
  # ref: https://github.com/orgs/community/discussions/13690
  push:
    branches: main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test-linux:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read # for checkout

    container: ubuntu:noble-20240530@sha256:e3f92abc0967a6c19d0dfa2d55838833e947b9d74edbcb0113e48535ad4be12a

    steps:
      - name: Install sudo
        run: |
          apt-get update
          apt-get install -y sudo

      - name: Run installer
        run: bash <(curl -fsSL https://dot.risunosu.com/wsl?ref=${{ github.ref }})

  actions-timeline:
    needs:
      - test-linux
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@1c2ab3f28225878ae4dd1f76d31279f16ea29e29 # v2.1.1
