name: Test installer on Linux

on:
  # do not use paths filter because it does not work well with required status checks
  # ref: https://github.com/orgs/community/discussions/13690
  push:
    branches: main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test-linux:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      packages: read # for GitHub Package Registry
      contents: read # for checkout

    container:
      image: ghcr.io/${{ github.repository }}/wsl:20241022@sha256:a931632fb25cd812bca20273824a1c24b01261c0f6288360cd6bf17da77fa5bd

    steps:
      - name: Run installer
        # use head sha for pull requests because github.sha is set to the merge commit
        run: >-
          bash <(curl -fsSL https://dot.risunosu.com/wsl?ref=${{
            github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha
          }})

  actions-timeline:
    needs:
      - test-linux
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@3046833d9aacfd7745c5264b7f3af851c3e2a619 # v2.2.1
