name: Cloudflare worker

on:
  # do not use paths filter because it does not work well with required status checks
  # ref: https://github.com/orgs/community/discussions/13690
  push:
    branches: main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test-worker:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read # for checkout

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            mise.toml
            mise-tasks/*
            worker/*
          sparse-checkout-cone-mode: false

      - name: Install mise
        uses: jdx/mise-action@c1606014a9b1b7cd3e7c7f5fc607a25351fdffec # v2.1.1
        with:
          install_args: bun
          cache_key_prefix: mise-v0-bun
          experimental: true

      - name: Run tests
        run: mise run worker:test:ci

  deploy-worker:
    needs:
      - test-worker

    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read # for checkout

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            mise.toml
            mise-tasks/*
            worker/*
          sparse-checkout-cone-mode: false

      - name: Install mise
        uses: jdx/mise-action@c1606014a9b1b7cd3e7c7f5fc607a25351fdffec # v2.1.1
        with:
          install_args: bun
          cache_key_prefix: mise-v0-bun
          experimental: true

      - name: Store Wrangler Version
        id: wrangler-version
        run: |
          wrangler_version=$(bun pm ls | sed --quiet --regexp-extended 's/.*wrangler@(.+)/\1/p')
          echo "version=$wrangler_version" >> "$GITHUB_OUTPUT"
        working-directory: worker

      - name: Store compatibility date
        id: compatibility-date
        # working-directory must be set to the root of the repository
        # otherwise, mise run fails to execute the task
        # ref: https://github.com/jdx/mise/issues/1660
        run: |
          compatibility_date=$(mise run worker:util:extract-compat-date)
          echo "date=$compatibility_date" >> "$GITHUB_OUTPUT"

      - name: Deploy to Cloudflare workers with Wrangler
        uses: cloudflare/wrangler-action@b2a0191ce60d21388e1a8dcc968b4e9966f938e1 # v3.11.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: ${{ steps.wrangler-version.outputs.version }}
          workingDirectory: worker
          command: deploy --dry-run=${{ github.ref_name != 'main' }} --compatibility-date=${{ steps.compatibility-date.outputs.date }}
          vars: |
            REPO_OWNER
            REPO_NAME
            DEFAULT_BRANCH
        env:
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

  actions-timeline:
    needs:
      - deploy-worker
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@3046833d9aacfd7745c5264b7f3af851c3e2a619 # v2.2.1
